.ppp{
    background: rgb(223, 141, 141);
  
}
.nook{
    background: rgb(0, 4, 255);
    box-shadow: 0 0 2px peru;

}
.pp22p{
  
    background: rgb(226, 94, 18);
    box-shadow: 0 0 2px peru;
    box-shadow: 0 0 2px rgb(243, 6, 105);
}
.button{

    color: rgb(241, 9, 9); 
    
}